body {
  background-color: #f4eeda !important;
}
.landing {
  /* background: white url("../src/bg1.jpeg") no-repeat scroll center; */

  background-size: cover;
  height: 100vh;
  color: rgb(25, 19, 19);
  font-style: oblique;
}
.wrapper {
  background-color: rgba(180, 218, 228, 0.1);
  height: 100%;
}

.AboutC {
  background-color: rgba(0, 0, 0, 0.1);
}
.spinner {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
}
.spinner img {
  display: block;
  margin: 13% auto;
}
